.thm-btn-thirteen {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: #fff;
  color: #231f20;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  transition: all 0.4s ease;
  border-radius: 4px;
}

.thm-btn-thirteen:hover {
  background-color: #231f20;
  color: #908f90;
  text-decoration: none;
} 